.slider-container {
    width: 240px;
    position: relative;
}

.slider-header {
    position: absolute;
}

.slider-content {
    display: inline-flex;
}

.slider {
    width: 190px;
}

.slider-input {
    width: 50px;
}
