<div class="slider-container">
    <span class="slider-header">{{ options.label }}</span>
    <div class="slider-content">
        <mat-slider class="slider" [(ngModel)]="options.value" [min]="options.min" [max]="options.max" [step]="options.step" (change)="changed()">
        </mat-slider>
        <mat-form-field class="slider-input">
            <input matInput id="{{options.id}}" type="number" [(ngModel)]="options.value" [step]="options.step" (change)="changed()">
        </mat-form-field>
    </div>
</div>
